<h1>COMERCIOS</h1>
  <% @commerces.each do |commerce| %>
		<div class="row">
			<div class="col-xs-2">
				<%= image_tag(commerce.logo) %>
			</div>
			<div class="col-xs-10">
				<h3><p><%= commerce.name %></p></h3>
				<div class="star-rating" data-score= <%= commerce.rating %> ></div>
				<% commerce.categories.each do |category| %>
					<span class="label label-primary"><%= category%></span>
				<% end %>  
				<p>
					<%= link_to "Hacer pedido", commerce_path(commerce.id), class: "btn btn-default" %>
				</p>
			</div>
		</div>
			<br><br>
  <% end %>


<script>
	$('.star-rating').raty({
		path: '/assets/',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>
