<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2">
				<%= image_tag @commerce.logo %>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-3">
						<%= @commerce.name %>
						<p>
						<% @commerce.categories.each do |category| %>
							<span class="label label-primary"><%= category%></span>
						<% end %>  
						</p>
					</div>
					<div class="col-md-9">
						<div>Opinión de sus clientes</div>
						<div class="star-rating" data-score= <%= @commerce.rating %> ></div>
					</div>
				</div>
			</div>	
		</div>
		<!-- LISTADO MENU -->
		<div class="row">
			<div class="col-md-11 col-md-offset-1">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<%= link_to 'Regresar', commerces_path, class: "btn btn-default" %>
</div>

<script>
	$('.star-rating').raty({
		path: '/assets/',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>
